## NOTE: This is a sample env file. Copy this file to .env and fill in the values for your environment.
## For github actions, the values should be stored in secrets and referenced in the workflow file.
APP_URL=""
APP_TITLE=""
WEEK_ONE_START_DATE=""
USER_1_NAME=""
USER_2_NAME=""